

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Varela Round', sans-serif;
}

.back-img{
  background-image: url("https://images.pexels.com/photos/1323550/pexels-photo-1323550.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.header {
  width: 100%;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .logo{
  font-size: 28px;
  margin-left: 40px; 
}

.navbar-list-items {
  list-style: none;
}

.navbar-list-items li{
  display: inline-block;
  margin-right: 50px; 
  font-size: 18px;
}

.navbar-list-items li a{
  text-decoration: none;
  color: black;
}

.navbar-list-items li a button{
  border: none;
  padding: 15px 30px;
  font-size: 16px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  cursor: pointer;
}


.form-section{
  position: relative;
  top: 10%;
  left: 30%;
  width: 40vw;
  height: 50vh;
  box-shadow: 0 1px 1px rgba(0,0,0,0.15), 0 2px 2px rgba(0,0,0,0.15), 0 4px 4px rgba(0,0,0,0.15), 0 8px 8px rgba(0,0,0,0.15);
}

.uname {
  margin-top: 40px;
}

.form-section .form .form-elements{
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 24px;
}

.uname .pass{
  padding: 20 20px;
}

.aside-search-bar{
  width: 500px;
  height: 200px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.15), 0 2px 2px rgba(0,0,0,0.15), 0 4px 4px rgba(0,0,0,0.15), 0 8px 8px rgba(0,0,0,0.15);
  position: relative;
  top: 5%;
  left: 2%;
  box-sizing: border-box;
  padding: 20px;
}

.aside-search-bar .searchBar{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.aside-search-bar .searchBar .search-label{
  font-size: 18px;
  background-color: black;
  color: white;
  width: 200px;
  min-height: 40px;
  line-height: 40px;
  padding: 0px 5px;
}

.aside-search-bar .searchBar .search-input{
  padding: 10px 5px;
  font-size: 20px;
  border: none;
  outline: none; 
  background-color:whitesmoke;;
}

.disp_data{
  width: 60vw;
  height: 50vh;
  position: relative;
  left: 120%;
  bottom: 77%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 10px;
  gap: 10px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.15), 0 2px 2px rgba(0,0,0,0.15), 0 4px 4px rgba(0,0,0,0.15), 0 8px 8px rgba(0,0,0,0.15);
}

/* .condition-icon{
  position: relative;
  left: 80%;
  bottom: 5%;
  background-color: aqua;
  width: 200px;
  min-height: 60px;
  line-height: 60px;
  margin-left: 20px;
  font-size: 24px;
  box-sizing: border-box;
} */

.weather_cond{
  position: relative;
  top: -15%;
  left: 50%;
  font-size: 1.8rem;
  background-color: azure;
  color: black;
  box-sizing: border-box;
  padding: 10px 20px;
}


.disp_data .icon{
  width: 150px;
  min-height: 150px;
  background-color: cornflowerblue;
  line-height: 70px;
  float: right;
  position: relative;
  bottom: 30px; 
} 

.climate_cond_region{
  position: relative;
  top: -30%;
  font-size: 1.5rem;
}

.climate_cond_region .region {
  background-color: azure;
  width: 300px;
  padding: 10px;
  display: block; 
  margin-top: 1%;
}

.temp{
  font-size: 3rem;
}

.temp_c{
  position: relative;
  top: 40%;
  left: 22%;
}

.temp_f{
  position: relative;
  top: 40%;
  left: 23%;
}

.climate_cond_humidity {
  font-size: 1.5rem;
  margin-top: -3%;
}

.climate_cond_humidity .humidity{
  background-color: azure;
  padding: 5px 10px;
}

.day-date{
  margin-top: 15px;
  font-size: 22px;
  font-weight: 600;
}